<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <style>
        .show{
          display: none;
        }
      </style>
    <% else %>
      <style>
        .hide{
            display: none;
          }
      </style>
    <% end %>
    <%= javascript_pack_tag 'application', 'components/navigation_menu' %>
    <br>
    
    <%= yield %>
  
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    
    <br/>
    <%= javascript_pack_tag 'application', 'components/footer' %>
    </main>
  </body>
</html>
